In [1]:
#Variable 
x = 5
y = "hello"
_a = 600

In [2]:
print(x)
print(y)
print(_a)

5
hello
600

In [3]:
#Python Data Types
# 1. Integer
x = 100
print(x)

100

In [4]:
# 2. Float 
y=5.5
print(y)

5.5

In [5]:
print("Type of y :" ,type(y))

Type of y : <class 'float'>

In [6]:
# 3. String
a = "hello"
print(a)
type(a)

hello

str

In [8]:
#take input from user
lang = input("Enter your fav. programming language :")
print("Welcome to the world of " +lang)

Enter your fav. programming language :Python
Welcome to the world of Python

In [13]:
#check type and length of lang .
type(lang)

str

In [14]:
len(lang)

6

In [15]:
# 4. Boolean
x = True
type(x)

bool

In [16]:
# slicing
x = "welcome to python"
x[0:7:1]

'welcome'

In [17]:
# 5. List
x = ["hello",100,'world',6.6]
print(x)

['hello', 100, 'world', 6.6]

In [18]:
#type
type(x)

list

In [19]:
#length
len(x)

4

In [20]:
#Indexing
x[2]

'world'

In [21]:
#slicing
x[::2]

['hello', 'world']

In [29]:
#new list
list = [10,20,30,40,"python",'AI','ML']
print(list)

[10, 20, 30, 40, 'python', 'AI', 'ML']

In [30]:
#append
list.append("DL")
print(list)

[10, 20, 30, 40, 'python', 'AI', 'ML', 'DL']

In [31]:
#insert
list.insert(0,5)
print(list)

[5, 10, 20, 30, 40, 'python', 'AI', 'ML', 'DL']

In [32]:
#copy list
my_list = list
print(my_list)
print(list)

[5, 10, 20, 30, 40, 'python', 'AI', 'ML', 'DL']
[5, 10, 20, 30, 40, 'python', 'AI', 'ML', 'DL']

In [33]:
#add more element
my_list[5]='welcome'
print(my_list)
print(list)

[5, 10, 20, 30, 40, 'welcome', 'AI', 'ML', 'DL']
[5, 10, 20, 30, 40, 'welcome', 'AI', 'ML', 'DL']

In [34]:
#pop
my_list.pop(5)
print(my_list)
print(list)

[5, 10, 20, 30, 40, 'AI', 'ML', 'DL']
[5, 10, 20, 30, 40, 'AI', 'ML', 'DL']

In [36]:
# Dictionary
dict1 = {'name':'riya','class':'12th','roll_no':10}
print(dict1)

{'name': 'riya', 'class': '12th', 'roll_no': 10}

In [38]:
#access value
x=dict1['class']
x

'12th'

In [39]:
#update
dict1["roll_no"]=15
dict1

{'name': 'riya', 'class': '12th', 'roll_no': 15}

In [40]:
x=dict1.pop('class')
print(x)
print(dict1)

12th
{'name': 'riya', 'roll_no': 15}

In [41]:
dict1.popitem()
print(dict1)

{'name': 'riya'}

In [43]:
dict1.clear()
print(dict1)

{}

In [45]:
student1 = {
    'name':'riya',
    'class':'12th',
    'roll_no':10
}
student2 = {
     'name':'siya',
     'class':'12th',
     'roll_no':12
}
myclass = {
    'student1':student1,
    'student2':student2
}

In [46]:
myclass

{'student1': {'name': 'riya', 'class': '12th', 'roll_no': 10},
 'student2': {'name': 'siya', 'class': '12th', 'roll_no': 12}}

In [47]:
#access siya
myclass['student2']['name']

'siya'

In [48]:
#Tuples
tuple1 = (10,20,'hello','world',True,500,9.9)
print(tuple1)

(10, 20, 'hello', 'world', True, 500, 9.9)

In [49]:
#length
len(tuple1)

7

In [50]:
#indexing
tuple1[2]

'hello'

In [52]:
#slicing
tuple1[::2]

(10, 'hello', True, 9.9)

In [57]:
print(tuple1)

(10, 20, 'hello', 'world', True, 500, 9.9)

In [93]:
#check specific value is present or not
print('abc' in tuple1)

False

In [60]:
tuple2 = (90,50,70)

In [61]:
#add 2 tuple
tuple3 = tuple1 + tuple2
print(tuple3)

(10, 20, 'hello', 'world', True, 500, 9.9, 90, 50, 70)

In [69]:
#Set
myset1 = {True,5.5,'Hello',500,'World'}
print(myset1)

{True, 5.5, 'World', 500, 'Hello'}

In [70]:
type(myset1)

set

In [71]:
len(myset1)

5

In [94]:
myset1.remove('World')
print(myset1)

{True, 5.5, 500, 'Hello'}

In [95]:
set1 = {10,20,30,40}
set2 = {40,50,60,70,}
print(set1)
print(set2)

{40, 10, 20, 30}
{40, 50, 60, 70}

In [96]:
#Union
set3 = set1.intersection(set2)
set3

{40}